<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
    <title>Food Truck Finder in Vue.js</title>
</meta>

<script src="https://unpkg.com/vue"></script>
<script src="components/NavBar.js"></script>
<script src="components/NavEl.js"></script>
<script src="components/classTest.js"></script>

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<body>
    <div id= "NavTabs">
        <navbar id="Nav1" :href="'/' + HomeURL"></navbar>
        <navele v-for="object in Array" v-bind:href="object.url" v-bind:text="object.text" v-bind:key="object.key"></navele>
    </div>
    
    <my-component class="baz boo" v-bind:class="{ active: isActive }"></my-component>
    
    <div id="form-options">
        <select v-model="selected">
            <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>
        <span>Selected: {{ selected }}</span>
        <br>
        <input type="radio" v-model="picked" value="A"><label>A</label>
        <input type="radio" v-model="picked" value="B"><label>B</label>
        <input type="radio" v-model="picked" value="C"><label>C</label>
        <br>
        {{picked}}
    </div>

    <script src="js/home.js"></script>
</body>

</html>